#pictures {
    display: flex;
    flex-direction: column
}

.image {
    
    width: 150%;
    object-fit: cover;
    
}

.imageDiv {
    overflow: hidden;
    width : 50vw;
    height: 50vw;
    border: 1px solid black;
}